<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misri's Birthday</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    </head>
<body>

    <main>
        <h1> Happy Birthday Misri!</h1>
        <p>Wishing you a fantastic birthday and hope that 17 treats you well <3</p>
        <button type="button" id="letterButton" class="letter-btn">
    <img src="../assets/img/letter.png" alt="Clickable Letter Graphic">
</button>
        
        <div id="letterContent" style="display: none;">
            <button id="letterExit">X</button>
            <p>
                Happy Birthday Misri,<br>
                Meeting you this past year was lowkey one of the the best things that happened to me. 
                I know we still haven't known each other for that long but I still feel like we just click and I can be myself around you. 
                From the moment I met you at bus lot, to the moment we had lang together where we got to know how similar both of us are lol , to having Stats together where I just used to sleep half of the time and 
                bother you the other half, to playing/competing in Contexto together where I lowkey just lost like 90% of the time TT, to having lunch together where we just talked about the most random ahh stuff or you just studied or locked in on something, its been a crazy, stressful but fun to get to know you and be friends with you. 
                You are just so helpful and sweet (I mean you are Misri duh) , sometimes... and idk why but there is just something about your vibe that makes you have this aura around you that I don't know how to describe. 
            </p>
        </div>
    </main>
    <script src ="../assets/js/index.js"> </script>
</body>